# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.dotnet-remake.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Programare\C#\dotnet-remake\.idea\.idea.dotnet-remake\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
